.home-page {
  display: flex;
  flex: 1;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s forwards;
  padding-right: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/images/AppImage2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(3px) brightness(0.9);
  z-index: 1;
}

.welcome-section {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  position: relative;
  z-index: 2;
  color: white;
}

.welcome-section h1 {
  text-shadow: 5px 5px 80px #313131;
  color: black;
  font-size: 3rem;
  margin-bottom: 0px;
}

.welcome-section p {
  text-shadow: 5px 5px 80px #313131;
  color: floralwhite;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 50px;
}

.task-page-link {
  box-shadow: 5px 5px 80px #313131;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background: linear-gradient(90deg, rgba(123, 160, 227, 1) 21%, rgba(171, 149, 227, 1) 78%);
}

.task-page-link:hover {
  background: linear-gradient(90deg, rgba(171, 149, 227, 1) 21%, rgba(123, 160, 227, 1) 78%);
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .home-page {
    flex-direction: column;
    padding-right: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .welcome-section {
    align-items: center;
    text-align: center;
  }

  .welcome-section h1 {
    font-size: 2rem;
  }

  .welcome-section p {
    font-size: 1rem;
  }

  .task-page-link {
    padding: 8px 16px;
  }
}