
.task-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 20px;
  width: 100%;
}

.task-category-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.category-column, .task-column, .report-column {
  flex: 1;
  margin: 0 10px;
}

.category-column {
  max-width: 300px;
}

.task-column {
  flex: 2;
}

.category-input,
.category-list,
.new-task,
.task-list {
  width: 100%;
}

.category-input input, 
.new-task input {
  width: calc(100% - 110px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category-list ul,
.task-list ul {
  list-style: none;
  padding: 0;
}

.category-list li,
.task-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 10px;
}

.category-list button,
.task-list button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.report-column {
  font-size: 14px;
  color: white;
  max-width: 300px;
  background-color: #ab95e3;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.task-report h2 {
  margin-bottom: 10px;
}

.task-report .date-section,
.task-report .task-stats,
.task-report .completion-report {
  margin-bottom: 15px;
}
